body {
  margin: 0;
  border-radius: 4px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url('https://www.scitecheuropa.eu/wp-content/uploads/2019/07/ClaudioVentrella.jpg');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-carousel {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  overflow: hidden;
}


.ant-carousel {
  color: #fff;
}

#root {
  width: 100vw;
  max-width: 500px;
  height: calc(var(--vh, 1vh) * 100);
  max-height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #1F2232;
  font-family: Sofia Pro;
  font-style: normal;
  font-weight: 400;
  border-radius: 4px;
}
